// ==============================================================================
// nextflow.config
// ==============================================================================

// Local Docker Profile
docker {
    enabled = true
    runOptions = '-u $(id -u):$(id -g)' // Ensures files created aren't locked as 'root'
}

// Base process settings (Used for Local Execution)
process {
    // Tell Nextflow to use the image built locally by default
    container = 'fastq-qc-env:latest'
}

// Execution Profiles
profiles {
    // Standard local profile (Implicitly used if no profile flag is provided)
    standard {
        process.executor = 'local'
    }
}